<h1>Cadastrar <%= t('activerecord.models.branch_government', count: 1) %></h1>
<%= render 'form' %>
<div class="row">
  <div class="col-12">
    <div class="card m-b-30">
      <div class="card-body" style= "background-color: #f0f3f5; border:none">
        <div class="d-print-none mo-mt-2">
          <div class="float-right">
            <%= link_to 'Cancelar', admin_branch_governments_path, class: 'btn btn-primary waves-effect waves-light' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
