<div class="form-group" id="table-file">
  <div class="row">
    <div class="col-lg-12">
      <div class="card m-b-30">
        <div class="card-body">
          <h4 class="mt-0 header-title">Arquivos da Seção</h4>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nome do Arquivo</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <!-- Linhas da tabela serão preenchidas dinamicamente via JavaScript -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
